
.trip-container {
  background-color: rgb(250, 250, 250);
  padding: 1vw;
  position: relative;
  width: 60vw;
  margin: 2% auto;
  border-radius: 5px;
  border-bottom: 1px solid rgb(206, 206, 206);
  color: rgb(58, 69, 83);
}

#trip-header {
  background-color: rgb(229, 238, 236);
  padding: 1%;
  height: 30px;
  border-radius: 5px;
}

.review-form-container {
  position: absolute;
  right: 15px;
  top: 40px;
  left: 50%;
  min-height: 100px;
}

#cancel-button {
  float: right;
}

#cancel-button:hover {
  color: rgb(238, 31, 31);
}

.add-review {
  float: right;
  cursor: pointer;
  font-weight: 600;
  font-size: calc(7px + 0.5vw);
  color: rgb(88, 165, 238);
}

.review-body {
  padding: 1%;
  position: absolute;
  border: 1px dotted silver;
  border-radius: 15px;
  margin: 2%;
  top: 30px;
  left: 50%;
  max-height: 180px;
  overflow: scroll;
}

#trip-img {
  height: calc(10px + 2vw);
  width: calc(10px + 2vw);
  margin: 5px;
  box-shadow: 1px 1px 1px 1px #757272;
  border-radius: 50%;
}

.side-bar {
  background-image: linear-gradient(to bottom, #7e7c75 0%, #9e9995 50%, #868680 100%);
  width: 23vw;
}

#close {
  cursor: pointer;
  width: 15px;
  float: right;
  margin:3px;
}
