@keyframes fadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}


#profile-photo {
  float: left;
  margin: 5px;
  height: calc(10px + 5vw);
  width: calc(10px + 5vw);
  border-radius: 18em;
}

#vehicle-model {
  height: calc(15px + 1vw);
  width: calc(300px + 12vw);
  font-size: calc(10px + 0.5vw);
  background: linear-gradient(0.3turn, #948b68, #d1c5a4, #a88b68);
  text-align: center;
}

.car-photo {
  width: calc(300px + 12vw);
  height: calc(150px + 6vw);
  object-fit: cover;
}

#hourly-rate {
  color: rgb(185, 136, 121);
  font-size: 20px;
  height: 30px;
}

.svg-icon {
  cursor: pointer;
  border: 0;
}

.star {
  width: 15px;
  margin-bottom: 15px;
}

table {
  margin: 15px 0;
  width: 420px;
}

table th {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 1%;
  height: 40px;
  text-align: right;
  color: rgb(15, 15, 15);
}

#back {
  border: 0;
  background-color: rgb(231, 235, 225);
}

.day {
  width: 65px;
  margin: 70px;
  min-height: 480px !important;
  max-height: 480px !important;
}

#booking-form {
  margin: 80px 50px 0 50px;
  max-width: 460px;
}
