

@keyframes fadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}

#driver-img {
  animation: fadeIn 1s;
  height: calc(10px + 3vw);
  width: calc(10px + 3vw);
  margin: 5px;
  box-shadow: 1px 1px 1px 1px #757272;
  border-radius: 50%;
}

#total {
  font-family: Cambria;
  padding: 10px;
  border-radius: 10px;
  font-size: calc(8px + 0.7vw);
  font-weight: 500;
  color: rgb(62, 119, 71);
  width: calc(40px + 1.5vw);
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90vw;
  margin: 5vh 5vw;
  padding: 1%;
  background-image: linear-gradient(to bottom, #332d2dc2 0%, #000000a2 100%);
  border-radius: 5px;
  height: calc(50px + 4vw);
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 
              0px 14px 28px 3px rgba(0,0,0,0.14), 
              0px 9px 36px 8px rgba(0,0,0,0.12);
}


.input-box {
  margin: 2px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(68, 68, 68);
  width: calc(100px + 4vw);
  padding: 1px 2%;
  cursor: text;
  font-size: calc(10px + 0.5vw);
}


.sort {
  width: calc(150px + 5vw);
  margin: 2px 55px;
}

